.defaultshow{
	display: none;
}

.buttonStyle {
	/* button sizes */
	width: 10% !important;
	box-sizing:content-box;
	height: 9vh!important;
	white-space: normal !important;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	/* button colors */
	background-color: white;
    color: black;
    border: 2px solid #555555;
	text-overflow: ellipsis;
	overflow: hidden;
}

.listStyle {
	width: 100% !important;
	margin-top: 10px;
	margin-left: 5px !important;
}

hr {
	border-top: 1px solid #000;
	width: 80%;
}

.orderSidebar {
	width: 40%;
	float: left;
	margin-top: 0.5%;
	position: fixed;
	height: 49vh;
	overflow: auto;
}

.categoryButton {
	background-color: #E3F2FD;
	height: 60px !important;
}

.categoryItems {
	display: none;
}

#menuContainer {
	width: 60%;
	float: right;
}

.lineName {
	display: inline-block;
	width: 50%;
	text-overflow: ellipsis;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.linePrice {
	width: 50%;
	text-align:right;
	float: right;
}

.lines {
	padding: 2%;
	margin-left: 1%;
	margin-bottom: 10px; 
	font-size: large;
}

.selected {
	background-color: cyan;
}

.lineOptions {
	display: none;
	font-size: smaller;
	float:left;
}

#orderTotals {
	margin-top: 50vh;
	height: auto;
	font-size: large;
}

#totalPrice {
	visibility: none;
}

.totals {
	margin-top: 5%;
}

.totals-identifier {
	float: left;
	padding: 2%;
	margin-left: 50%;
	padding-top: 0;
	padding-bottom: 0;
	text-align: right;
}

.totals-value {
	float: right;
	width: 30%;
	text-align: right;
	padding-right: 10px;
	
}

.totals-value::before{
	content: "$";
}